extends ../../layouts/default

block error
	.container-sm: .pv-2
		h1!=errorTitle || 'Not found (404)'
		if 'object' == typeof errorMsg
			div(style='margin: 30px 0;').debug!= htmlStringify(errorMsg)
		else
			p.lead!= utils.textToHTML(errorMsg) || 'Someone gave you a bad link. We just hope that someone wasn\'t us.'
		p: a(href='/').btn.btn-primary.btn-lg=site.brand +' Home'
