mixin alerts
  a(href='/accounts/'+user.accountName+'/events').alerts-block
    .alerts-icon
      span.entypo.entypo-warning
    .alerts-message
      p 1 New Keyword Alert(s)
      span.entypo.entypo-chevron-right
