include ../mixins/alerts
include ../mixins/auth/auth-forms

include ../mixins/global/favicons

include ../mixins/global/header
include ../mixins/global/footer
include ../mixins/global/side-navigation

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title || site.brand

    +favicons
    
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css')
    link(href="/styles/site.min.css", rel="stylesheet")

    block css
    block head
  body(class=section)

    +alerts

    .container-fluid.header-container
      +header

    if user
      .container-fluid.main-container
        main
          .row
            .col-xs-12.col-md-4.col-lg-3
              +side-navigation
            .col-xs-12.col-md-8.col-lg-9.content

              block content
    
      .container-fluid.footer-container
        +footer

    if !user
      #modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
        .modal-dialog
          .modal-content
            +auth-forms({ modal: true, initial: 'signin' })

    //- Libraries
    script(src='/js/lib/jquery/jquery-2.1.1.min.js')
    script(src='/js/lib/jquery/jquery.timeago.js')
    script(src='/js/lib/jquery/jquery.transit.min.js')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
    script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
      
    script(src='//cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js')

    

    //- TODO Put this in a block JS section for the pages its needed on.
    script(src='/js/ui.js')

    include shared/analytics

    script(src='/js/site/functions_general.js')
    script(src='/js/site/functions_data.js')
    script(src='/js/site/app.js')

    block js