include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= title || site.brand

		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="/styles/site.min.css", rel="stylesheet")

		block css
		block head
	body
		header
			div(role="navigation").navbar.navbar-default
				.container-fluid
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='/')=site.brand
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-left
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
						ul.nav.navbar-nav.navbar-right
							if user
								if user.canAccessKeystone
									li: a(href='/keystone') Open Keystone
								li: a(href='/me').user.hidden-xs
									img(src=(user.avatarUrl || '/images/avatar.png'), width=27).img-circle
									=' ' +user.name.first
								li: a(href='/signout')
									span.visible-xs Sign out
									span.entypo.entypo-large.entypo-logout.hidden-xs
							else
								li: a(href='/signin', data-from=page.path, data-initial='signin').js-auth-trigger Sign in

		block intro

		+flash-messages(messages)

		block content

		footer
			p Copyright &copy; MaxMedia

		if !user
			#modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
				.modal-dialog
					.modal-content
						+auth-forms({ modal: true, initial: 'signin' })

		script(src='/js/lib/jquery/jquery-2.1.1.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='/js/lib/bootstrap/bootstrap-3.2.0.min.js')
		//script(src='/js/lib/bootstrap/collapse.js')
		//script(src='/js/lib/bootstrap/dropdown.js')
		script(src='/js/lib/bootstrap/modal.js')
		script(src='/js/ui.js')

		include shared/analytics

		block js
