mixin analytics-section(type, options)

  if type == 'refTraffic'
    .col-xs-12.col-md-12.col-lg-6.content-block.donut-block.equal-height-block-2
      .inner-content
        h4.section-title(data-toggle="tooltip" data-trigger="click hover" data-placement="right" title=tooltip.refTraffic)
          =sectionTitles.refTraffic
        section.novo-graph.novo-donut-graph.reach#refTraffic(data-admin-options=options)
          
  if type == 'topCountries'
    .col-xs-12.col-md-12.col-lg-6.content-block.equal-height-block-1.analytics-container
      .inner-content
        h4.section-title(data-toggle="tooltip" data-trigger="click hover" data-placement="right" title=tooltip.topCountries)
          =sectionTitles.topCountries
        table#analytics-table.table.analytics-table
          thead
            tr
              th Country
                .span.entypo.entypo-chevron-up
                .span.entypo.entypo-chevron-down
              th Session
                .span.entypo.entypo-chevron-up
                .span.entypo.entypo-chevron-down
              th Bounce Rate
                .span.entypo.entypo-chevron-up
                .span.entypo.entypo-chevron-down
          tbody
