mixin eventsCloseAll
  .modal.fade#eventsCloseAllModal(tabindex="-1" role="dialog" aria-labelledby="eventsCloseAllModal" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true").entypo-regular-new.entypo-circle-with-cross
          h4.section-title Close All Events
        .modal-body
          p This will close all Adverse Events. Are you sure you wish to do this?
          
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Cancel
          button#eventsCloseAll.btn.btn-default.btn-danger(type="button") Submit

mixin eventsGeneralModal
  .modal.fade#eventsGeneralModal(tabindex="-1" role="dialog" aria-labelledby="eventsGeneralModal" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true").entypo-regular-new.entypo-circle-with-cross
          h4.section-title Close All Events
        .modal-body
          
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") Cancel
          button#dateCustomSubmit.btn.btn-default(type="button") Submit
