extends ../../layouts/default

block session
	.session-content
		a.login-logo(href="/" title="Cadence Home")
			img(src="/images/logo.png" alt="Cadence Logo")
		.session-info
			h3 Forgotten your password?
			p No problem, we'll send you a link to reset it.

		+flash-messages(messages)
		+auth-forms({ modal: false, initial: 'password' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
