extends ../../layouts/default

block content
	h1='Join ' + site.brand

	+flash-messages(messages)
	+auth-forms({ modal: false, initial: 'join' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
