extends ../../layouts/default

block session
	.session-content
		a.login-logo(href="/" title="Cadence Home")
			img(src="/images/logo.png" alt="Cadence Logo")
		.session-info
			h3 Reset your password
			p Please enter your new password.
		+flash-messages(messages)

		form(method='post', novalidate).session-form
			input(type='hidden', name='action', value='reset-password')
			.form-group
				label(for='password') New Password
				input(type='password', name='password', id='password', placeholder='New Password').form-control.form-control--first
				span.error-message Enter your New Password
			.form-group.clearfix
				label(for='password_confirm') Confirm Password
				input(type='password', name='password_confirm', id='password_confirm', placeholder='Confirm Password').form-control.form-control--last
				span.error-message Confirm your New Password
			.form-group
				button(type='submit').btn.btn-default.btn-large Reset Password
			.form-actions
				p.text-center.text-muted.mt-3
					| On second thought, &nbsp;
					a(href='/signin') Sign In

block js
	script.
		var $form = $('.auth-form');
		var $submit = $form.find('.btn');

		$submit.click( function() {
			$submit.addClass( 'disabled' );
		});

		$form.find("input[type!='hidden']").first().focus();
