extends ../../layouts/default

block flash-messages
	//- intentionally blank

block content
	h1='Sign into ' + page.title
	+flash-messages(messages)

	+auth-forms({ modal: false, initial: 'signin' })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
