extends ../../layouts/default

block content
	.container-xs
		.page-intro
			h1='Sign into ' + page.title
			+flash-messages(messages)
		.page-content
			+signin({ modal: false })

block js
	script.
		jQuery(function($) {
			$('.auth-form').find('.form-control').eq(0).focus().select();
		});
