@content-padding: 0.75em;
@min-height: 15em;

.view-title {
	margin:0;
	font-size: 1.75em;
	padding: 0.5em 0;
	font-weight:300;
	display:inline-block;
}

.section-title {
	margin:0;
	padding: @content-padding;
	font-weight:300;
	display:inline-block;
}

.session-title {
	margin:0;
	padding: 0.75em 0;
	font-weight:300;
	display:inline-block;
}

.analytics-cta {
	position: absolute;
	right: 15px;
	top: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	font-weight: 300;
}

.content-row {
	> div > .content-block {
		margin-bottom:30px;
	}
}

.content-container {
	padding-left:0;
	padding-right:0;
}

.content-block {
	margin-bottom:30px;
	min-height: 15em;
}

.session-block {
	margin-bottom:30px;
	min-height: 15em;
}

.privacy-block {
	font-size: 1.2em;
	line-height: 1.4;
	ol, ul {
		padding-left:1em;
		margin-bottom:1em;
		li {
			list-style-type: disc;
		}
	}
}

.inner-content {
	padding-left:0;
	padding-right:0;
	min-height:@min-height;
	background-color:@background_element;
	.transition(@section_transition);
	padding-bottom: 2em;
	&.accent-content {
		background-color:@background_element_lighter;
		min-height:@min-height;
	}
}

.session-content {
	background-color:@background_element;
	.transition(@section_transition);
	padding-bottom: 2em;
	padding-left: 1em;
	padding-right: 1em;
}

.session-form {
	padding: 1.5em;
	margin-bottom:0;
	.form-group {
		margin-bottom: 1.5em;
	}
	label {
		font-weight:300;
		margin-bottom: 0.75em;
		font-size:1.2em;
	}
	input[type="text"] {

	}
	textarea {
		max-width: 100%;
	}
	.form-control {
		background-color: @element_alternate_active;
		color: #FFF;
		border-radius:0;
		-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
		box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
		border: 0;
		&:focus {
			outline:0;
			border-color:transparent;
			border:0;
			-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
			box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);
		}
	}
	.connection-icon {
		font-size: 3em;
		padding-right: 0.2em;
	}
	.social-connect {
		display:block;
		text-align: center;
		.connection-text {
			font-weight: 300;
		}
	}
	.btn-social-connect {
		.social-connect();
		&:hover, &:focus {
			color:@lightBlue;
		}
	}
	.cancel-change-password {
		text-align: center;
	}

}
