@content-padding: 0.75em;
@min-height: 10em;

.view-title {
  margin:0;
  font-size: 1.75em;
  padding-top: 0.9em;
  font-weight:300;
  display:inline-block;
}

.section-title {
  margin:0;
  padding: 1.2em 1.2em 1.75em;
  text-transform: uppercase;
  font-weight:300;
  display:inline-block;
  color:@whiteOff;
}

.session-title {
  margin:0;
  padding: 0.75em 0;
  font-weight:300;
  display:inline-block;
}

.page-cta-btn {
  position: absolute;
  right: 15px;
  bottom: 0.2em;
  font-size: 1.05em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: 300;
  span {
    margin-left: .2em;
    vertical-align: top;
    margin-top: 4px;
  }
}

.content-row {
  > div > .content-block {
    margin-bottom:30px;
  }
}

.content-row-title {
  height: 4em;
}

.content-container {
  padding-left:0;
  padding-right:0;
}

.content-block {
  margin-bottom:30px;
  min-height: 15em;
}

.session-block {
  margin-bottom:30px;
  min-height: 15em;
}

.privacy-block {
  font-size: 1.2em;
  line-height: 1.4;
  ol, ul {
    padding-left:1em;
    margin-bottom:1em;
    li {
      list-style-type: disc;
    }
  }
}

.inner-content {
  padding-left:0;
  padding-right:0;
  min-height:@min-height;
  background-color:@background_element;
  .transition(@section_transition);
  &.accent-content {
    background-color:@background_element_lighter;
    min-height:@min-height;
  }
}

.session-content {
  background-color:@background_element;
  .transition(@section_transition);
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  select {
    display: block;
  }
}

.session-info {
  padding-left:1.5em;
  padding-right:1.5em;
}
