html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color:@background_site;
}
body {
  font-family: @font_main;
  color: @font_color;
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-size: 1em;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width:768px;
}

* {
  ::selection {
    background: white;
    color: black;
  }
  ::-moz-selection {
    background: white;
    color: black;
  }
}

header, main, footer {
  padding-left: 3%;
  padding-right: 3%;
}

main {
  padding-bottom:5em;
}

ul, ol, li {
  list-style-type: none;
  margin:0;
  padding:0;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  color:@font_color;
}

.btn-large  {
  width: 100%;
  font-size: 1.25em;
  padding: 1em;
}

.element-reveal {
  display:none;
  &.active {
    display:block;
  }
}
.element-reveal-link {
  cursor:pointer;
}