
// .container-xs,
// .container-sm,
// .container-md {
//  .container-fixed();
// }

// @media (min-width: @screen-sm-min) {
//  .container-xs { width: 600px; }
//  .container-sm { width: @screen-sm-min - @grid-gutter-width; }
//  .container-md { max-width: @screen-md-min - @grid-gutter-width; }
// }


// .page-intro {
//  padding-bottom: @page-padding;
//  text-align: center;
//  h1 {
//    margin-bottom: 0.25em;
//  }
//  .buttons > .btn {
//    margin-right: 10px;
//  }
//  .lead {
//    max-width: @screen-sm-min - @grid-gutter-width;
//    margin-left: auto;
//    margin-right: auto;
//  }
// }

// .page-content {
//  .floor;
//  .floor-1;
// }

// .form-actions button{
//   margin-top: 2em;
// }

html, body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color:@background_site;
}
body {
  font-family: @font_main;
  color: @font_color;
  font-weight: 300;
  font-style: normal;
  font-variant: normal;
  font-size: 1em;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width:768px;
}

* {
  ::selection {
    background: white;
    color: black;
  }
  ::-moz-selection {
    background: white;
    color: black;
  }
}

header, main, footer {
  padding-left: 3%;
  padding-right: 3%;
}

header {
  margin-top: 2em;
  padding-bottom: 3em;
  .header-logo {
    display:inline-block;
    width:200px;
    img {
      width:100%;
    }
  }
  .header-items {
    padding:1em 0 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    bottom: 0;
    right: 0;
    .respond-md({
      position: absolute;
      padding:0;
    });
    li {
      display:block;
      vertical-align: bottom;
      padding:1em;
      .respond-md({
        position: relative;
        display:inline-block;
        padding:0.5em 1em;
      });
    }
    .glyphicon-bell {
      font-size:1.5em;
    }
    .events-name {
      display: inline-block;
      padding: 0.5em 0 0 1.5em;
      position: relative;
      .respond-md ({
        display:none;
      });
    }
    .event-alert {
      position: absolute;
      top: -0.3em;
      right: -0.3em;
      background-color:@element_alert_lighter;
      -webkit-border-radius: 10em;
      -moz-border-radius: 10em;
      border-radius: 10em;
      width: 0.9em;
      height: 0.9em;
      span {
        color: #FFF;
        position: absolute;
        left: 0;
        right: 0;
        top: 39%;
        bottom: 0;
        margin: auto;
        text-align: center;
        vertical-align: middle;
        line-height: 0;
        font-size: 0.6em;
        letter-spacing: -1px;
      }
    }
  }
}

main {
  padding-bottom:5em;
}

footer {
  padding-top: 2em;
  padding-bottom: 3em;
  color:@footer_text;
  a, a:hover, a:visited, a:active, a:focus { color:@footer_text; }
  p {
    display:inline-block;
    float:left;
    vertical-align: top;
    font-size: 0.9em;
  }
  ul {
    float:right;
    vertical-align: top;
    li {
      display:inline-block;
      vertical-align: top;
      .footer-icon {
        font-size: 1.3em;
        padding-left:0.5em;
        padding-right:0.5em;
        &.social-new {
          font-size: 0.7em;
          padding-top: 0.25em;
        }
      }
    }
  }
}

.footer-container {
  background-color:@background_site_darker;
}

ul, ol, li {
  list-style-type: none;
  margin:0;
  padding:0;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  color:@font_color;
}

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0;
}
.btn:hover, .btn:focus, .btn.focus, .btn:active, .btn.active, .open > .dropdown-toggle.btn {
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
.btn-default, .btn-default:visited {
  color:#fff;
  background-color:@darkBlue;
  border-color:@darkBlue;
  font-size: 1em;
  &.facebook { background-color:@social_fb_main; } &.twitter { background-color:@social_twitter_main; } &.instagram { background-color:@social_instagram_main; } &.youtube { background-color:@social_youtube_main; } &.google-plus { background-color:@social_googleplus_main; } &.analytics-us, &.analytics-all, &.analytics-global, &.events { background-color:@analytics_cta; }
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  // background-color:$button_disabled;
  // border-color:$button_disabled;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #fff !important;
  //background-color: @darkBlue;
}

.panel {
  .service-connect, .service-disconnect {
    a {
      color: #000;
    }
  }
}
