// Override Bootstrap variables in this file, e.g.

// Fonts
@istok: 						'Istok Web', sans-serif;
@font-size-base: 				16px;
@font_main: 					@istok;
@font_color:					#FFF;

// Reused Colors
@darkBlue:						#0f6182;
@lightBlue:						#009fda;
@darkRed:						#6d292c;
@lightRed:						#ba2e2e;

// Color Variables
@background_site: 				#1f2329;
@background_element:			#282c31;
@background_element_lighter:	#303439;

@element_active:				@darkBlue;
@element_active_lighter:		@lightBlue;
@element_alert:					@darkRed;
@element_alert_lighter:			@lightRed;
