extends layouts/base

block content
  p Hi #{username},
  if(newUser)
    p An account was created for you on Cadence. This email address is your username.
  else
    p You recently requested a link to reset your Cadence password.
  p Please set a new password by following the link below:
  a(href=host + link)= host + link
  p Please delete this email when you are done.