extends ../../layouts/default

block content
  .row.content-row.content-row-title
    .col-xs-12
      h1.view-title=title
      +page-cta(socialLinks.analytics)
  .row.content-row
    +analytics-section('refTraffic')
