extends ../../layouts/default

block content
	.row.content-row
		.col-xs-12
			h1.view-title Adverse Events
			a.btn.btn-default.analytics-cta(class=section data-events-action="close-all") Mark all Closed
	.row
		.col-xs-12.events-container
			table#events-table.table.events-table
				thead
					tr
						th
						th Date
							.span.entypo.entypo-chevron-up
							.span.entypo.entypo-chevron-down
						th Channel
							.span.entypo.entypo-chevron-up
							.span.entypo.entypo-chevron-down
						th Status
							.span.entypo.entypo-chevron-up
							.span.entypo.entypo-chevron-down
						th ID
							.span.entypo.entypo-chevron-up
							.span.entypo.entypo-chevron-down
						th Last Accessed
							.span.entypo.entypo-chevron-up
							.span.entypo.entypo-chevron-down
						th Link
							.span.entypo.entypo-chevron-up
							.span.entypo.entypo-chevron-down
				tbody
					
					tr
						td
						td 2014/01/20
						td sdf
						td Chsdfannel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td 2014/01/21
						td ID
						td Channel
						td Stsdfsdfsdfsdfatus
						td Lassdfsdfst Accessed
						td Link
					tr
						td
						td 2014/01/23
						td ID
						td Chfsdannel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td 2015/01/20
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td 2013/01/20
						td Date
						td Channel
						td Stadsftus
						td Lsdfsfdast Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Sfddftatus
						td Last Accessed
						td Link
					tr
						td
						td fddfID
						td Dafdte
						td Chdfannel
						td Status
						td Lasdfst Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
					tr
						td
						td ID
						td Date
						td Channel
						td Status
						td Last Accessed
						td Link
