extends ../../layouts/default

block content
  .row.content-row
    .col-xs-12
      h1.view-title=title
      a.btn.btn-default.page-cta-btn(data-toggle="modal" data-target="#eventsCloseAllModal") Mark all Complete
  .row
    .col-xs-12.events-container
      table#events-table.table.events-table
        thead
          tr
            th.event-status-cell Status
              .span.entypo.entypo-chevron-up
              .span.entypo.entypo-chevron-down
            th Date
              .span.entypo.entypo-chevron-up
              .span.entypo.entypo-chevron-down
            th Channel
              .span.entypo.entypo-chevron-up
              .span.entypo.entypo-chevron-down
            th ID
              .span.entypo.entypo-chevron-up
              .span.entypo.entypo-chevron-down
            th Last Accessed
              .span.entypo.entypo-chevron-up
              .span.entypo.entypo-chevron-down
            th.event-action-cell Actions
            th.event-link-cell Link
        tbody
      p.events-no-data-warning There is no data for this page of Adverse Events. Please click 
        a(href="/accounts/"+user.accountName+"/events") here
        |  to go back.