extends ../../layouts/default

block content
	.row.content-row
		.col-xs-12
			h1.view-title Main Title
			a.btn.btn-default.analytics-cta(class=section href="#") Launch Analytics
	//- .row.content-row
	//- 	.col-xs-12.content-block
	//- 		.col-xs-12.col-lg-9.inner-content

	//- 			h4.section-title Reach
	//- 			section.novo-graph.novo-line-graph.reach#reach

	//- 		.col-xs-12.col-lg-3.inner-content.accent-content
					
	//- .row.content-row
	//- 	.col-xs-12.col-lg-8.content-block
	//- 		.inner-content
	//- 			h4.section-title Reach1
	//- 			section.reach#reach1

	//- 	.col-xs-12.col-lg-4.content-block
	//- 		.inner-content
	//- 			h4.section-title Section Title
				
	.row.content-row
		.col-xs-12.col-md-12.col-lg-6.content-block
			.inner-content
				h4.section-title Top Countries
				section.novo-graph.novo-donut-graph.reach#top_countries(data-admin-options='{}')
		.col-xs-12.col-md-12.col-lg-6.content-block
			.inner-content
				h4.section-title Blank
				section.novo-graph.novo-donut-graph.reach#top_countriestest(data-admin-options='{}')

	.row.content-row
		.col-xs-12.col-md-12.col-lg-12.content-block
			.inner-content
				h4.section-title Reach
				section.novo-graph.novo-line-graph.reach#reach(data-admin-options='{"timeFormat": "%m/%d/%y"}')

		//- .col-xs-12.col-md-12.col-lg-4.content-container

		//- 	.col-xs-12.col-md-6.col-lg-12.content-block
		//- 		.inner-content
		//- 			h4.section-title Section Title

		//- 	.col-xs-12.col-md-6.col-lg-12.content-block
		//- 		.inner-content
		//- 			h4.section-title Section Title