extends ../../layouts/default

block content
	.row.content-row
		.col-xs-12
			h1.view-title=title
			a.btn.btn-default.page-cta-btn(target="_blank" title=section+" Link" href=socialLinks.facebook)="Launch "+title
	.row.content-row
		+top-post
		+social-graph('top_countries')
	.row.content-row
		+social-graph('reach')
	.row.content-row
		+social-graph('engagement')
	.row.content-row
		+social-graph('acquisition')
	