extends ../../layouts/default

block content
	.row.content-row
		.col-xs-12
			h1.view-title
				=title
			a.btn.btn-default.page-cta-btn(title=section+" Link" href=socialLinks.facebook)
				=title+" Page"
	.row.content-row
		+social-graph('reach')
	.row.content-row
		+social-graph('engagement')
	.row.content-row
		+social-graph('acquisition')
	.row.content-row
		+social-graph('top_posts')
		+social-graph('top_countries')