extends ../../layouts/default

block content
	.row.content-row
		.col-xs-12
			h1.view-title=title

	.row.content-row
		.col-xs-12.col-md-12.col-lg-12.content-block
			.inner-content
				h4.section-title Coming Soon!