extends ../../layouts/default

block head
  script(type="text/javascript" src="https://apis.google.com/js/plusone.js")

block content
  .row.content-row.content-row-title
    .col-xs-12
      h1.view-title=title
      +page-cta(socialLinks.googlePlus)
  .row.content-row
    +social-graph('engagement')
  .row.content-row
    +social-graph('acquisition')
  .row.content-row
    +topGooglePost
    +social-graph('topCountries')
  
