extends ../../layouts/default

block head
  script(type="text/javascript" src="https://apis.google.com/js/plusone.js")

block content
  .row.content-row.content-row-title
    .col-xs-12
      h1.view-title=title
      a.btn.btn-default.page-cta-btn(target="_blank" title=section+" Link" href=socialLinks.googlePlus)="Launch "+title
  .row.content-row
    +social-graph('engagement')
  .row.content-row
    +social-graph('acquisition')
  .row.content-row
    +topGooglePost
    +social-graph('topCountries')
  
