extends ../../layouts/default

block content
  .row.content-row.content-row-title
    .col-xs-12
      h1.view-title=title
      +page-cta(socialLinks.googlePlus)
  .row.content-row
    +social-graph('engagement')
  .row.content-row
    +social-graph('acquisition')
  .row.content-row
    +topGooglePost
  
